html{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width:100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 22vh;
    background-image: url(/images/w.webp);
    background-size: cover;
    background-repeat: no-repeat;

}


.bigBox{
    margin: 0 auto;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .firsticons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:beige;
    font-size: 1.5rem;
    margin:1rem 3rem
}

.secondicons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size: 1.5rem;
    color:bisque;
} */

.bigBox{
    height: 255px;
    width:255px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);

   margin:10px auto;
}

.box{
    
cursor:pointer;
height:85px;
width:85px;
border:2px solid white;
}

#reset{
    color:white;
    background-color:transparent;
    padding:7px 32px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 2px 1px 1px 1px white;
    border-radius: 11%;
    cursor: pointer;

}

#result{
    color:white;
}

.box:hover{
    background-color: black;
}












@media screen and (max-width: 476px) {
    .room{
        width:332px;
        background-color: rgb(155, 88, 88);
    }

    .bigBox{
        width:232px;
    }
}




@media screen and (max-width: 376px) {
    .room{
        width:332px;
        background-color: red;
    }

    .bigBox{
        width:232px;
    }
}

@media screen and (max-width: 326px) {
    .room{
        width:312px;
        font-size: 12px;
        background-color: rgb(114, 202, 73);
    }
}