
body {
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;

}



p{
    width:675px;
    font-size: 1rem;
    line-height: 1.5rem;
    color:white;
    
}

h1{
    color:white;
    text-align: center;
}
.link{
    font-size: 1.2rem;
    padding: 0.5rem 0;
    width:12rem;
    text-align: center;
    border:0.1rem solid #343434;
    color:purple;
    background:white;

    text-decoration: none;
}
.fa-solid{
    color:rgb(183, 172, 172);
    margin-left:12px;
}

@media screen and (max-width: 326px) {
    p{
        width:312px;
        font-size: 12px;
        background-color: rgb(114, 202, 73);
    }
}