
body {
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/w.webp);
    background-repeat: no-repeat;
    background-size: cover;
}



p{
    width:1155px;
    font-size: 1.5rem;
    line-height: 2rem;
    color:white;
    
}

h1{
    color:white;
    text-align: center;
}
.link{
    font-size: 1.2rem;
    padding: 12px;
    width:9rem;
    text-align: center;
    border:0.1rem solid #343434;
    color:purple;
    background:white;
    text-decoration: none;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.link:hover{
    background-color: transparent;
    border:1px solid white;
    color:white;
    padding:9px;
}




@media screen and (max-width: 1160px) {
    p{
        width:1012px;
    }
}


@media screen and (max-width: 1030px) {
    p{
        width:912px;
    }
}



@media screen and (max-width: 934px) {
    p{
        width:772px;
    }
}



@media screen and (max-width: 794px) {
    p{
        width:672px;
    }
}

@media screen and (max-width: 688px) {
    p{
        width:572px;
    }
}

@media screen and (max-width: 595px) {
    p{
        width:472px;
    }
}

@media screen and (max-width: 502px) {
    p{
        width:372px;
    }
}

@media screen and (max-width: 389px) {
    p{
        width:372px;
        font-size: 17px;
    }
}

@media screen and (max-width: 374px) {
    p{
        width:300px;
    }
}


@media screen and (max-width: 326px) {
    p{
        width:302px;
        font-size: 12px;
    }
}
@media screen and (max-width: 315px) {
    p{
        width:242px;
        font-size: 11px;
    }
}