
body {
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
p{
    width:755px;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.link{
    font-size: 1.5rem;
    padding: 0.5rem 0;
    width:10rem;
    text-align: center;
    border:0.1rem solid #343434;
    color:#adb7c1;
    background-color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 326px) {
    p{
        width:312px;
        font-size: 12px;
        background-color: rgb(114, 202, 73);
    }
}